*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header{
  text-align: center;
}

header > h1{
  font-size: 1.5rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p{
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
}

.Game_States_Section{
  background-color: #10A958;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9F4DA;
  border-radius: 4px;
  margin-block: 30px;
}

.Game_States_Section.won{
  background-color: #10A95B;
}

.Game_States_Section.lost{
  background-color: #BA2A2A;
}

.Game_States_Section > h2{
  font-size: 1.25rem;
  margin: 5px;
}

.Game_States_Section > p{
  margin: 5px;
}

.languages_chips{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin-bottom: 36px;
}

.chip{
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word{
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

.word > span{
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  border-bottom: 1px solid #F9F4D4;
}

.keyboard{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 450px;
}

.keyboard > button{
  height: 35px;
  width: 35px;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  cursor: pointer;
}

.keyboard > button.correct{
  background-color: #10A958;
}

.keyboard > button.wrong{
  background-color: #EC5D49;
}

.new_game_btn{
  background-color: #b2dbf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #040403;
  border-radius: 4px;
  margin-block: 30px;
  height: 50px;
  cursor: pointer;
  width: 100%;
  justify-content: center;
}